// NESTING* better in SCSS
// you can nest stuff here, unlike CSS
@import "../../styles/fonts.scss";
// @import for importing SCSS

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 6rem;
  
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;

  

  .imageContainer {
		// height: 3rem;
    // width: 5rem;
  }

  .textContainer{
    width: 100%;
    // background-color: red;

    h1 {
      text-align: center; 
      font-weight: normal;
      font-size: 1.3rem; 
        // 1rem = 16 px
        // rem is scalable
    }
  }
}
