@import '../../styles/fonts.scss';

.container {
  height: 2rem;
  width: 2rem;
  text-align: center;

  cursor: pointer;

  display: flex;
  justify-content: center;
  flex-direction: column;

  align-items: center;

  @media #{$mq-mobile} {
    height: 1.5rem;
    width: 1.5rem;
  }
  // PUT ALIGN-ITEMS:CENTER IN PARENT
}

.galleryViewBackground {
  background-color: #926ce2;
  border-top: 0.25rem solid #9d9df5;
  border-left: 0.25rem solid #9d9df5;
  border-right: 0.25rem solid #00002f;
  border-bottom: 0.25rem solid #00002f;

  h3 {
    font-size: 1rem;
    color: #000000;

    @media #{$mq-mobile} {
      font-size: 0.8rem;
    }
  }
}

.galleryViewBackground:active {
  background-color: #694baa;

  border-top: 0.25rem solid #00002f;
  border-left: 0.25rem solid #00002f;
  border-right: 0.25rem solid #9d9df5;
  border-bottom: 0.25rem solid #9d9df5;
}

.aboutMeBackground {
  background-color: #c3c3c3;
  border-top: 0.25rem solid #ebebeb;
  border-left: 0.25rem solid #ebebeb;
  border-right: 0.25rem solid #2c2c2c;
  border-bottom: 0.25rem solid #2c2c2c;

  h3 {
    color: #000000;
  }
}

.aboutMeBackground:active {
  background-color: #8d8d8d;
  border-top: 0.25rem solid #2c2c2c;
  border-left: 0.25rem solid #2c2c2c;
  border-right: 0.25rem solid #ebebeb;
  border-bottom: 0.25rem solid #ebebeb;
}

.contactMeBackground {
  background-color: #412b17;
  border-top: 0.25rem solid #956c49;
  border-left: 0.25rem solid #956c49;
  border-right: 0.25rem solid #312011;
  border-bottom: 0.25rem solid #312011;

  h3 {
    color: #ffffff;
  }
}

.contactMeBackground:active {
  background-color: #312111;
  border-top: 0.25rem solid #312011;
  border-left: 0.25rem solid #312011;
  border-right: 0.25rem solid #956c49;
  border-bottom: 0.25rem solid #956c49;
}

.TypographyBackground {
  background-color: #926ce2;
  border-top: 0.25rem solid #9d9df5;
  border-left: 0.25rem solid #9d9df5;
  border-right: 0.25rem solid #00002f;
  border-bottom: 0.25rem solid #00002f;

  h3 {
    color: #ffffff;
  }
}

.TypographyBackground:active {
  background-color: #694baa;
  border-top: 0.25rem solid #00002f;
  border-left: 0.25rem solid #00002f;
  border-right: 0.25rem solid #9d9df5;
  border-bottom: 0.25rem solid #9d9df5;
}

.PostersBackground {
  background-color: #926ce2;
  border-top: 0.25rem solid #9d9df5;
  border-left: 0.25rem solid #9d9df5;
  border-right: 0.25rem solid #00002f;
  border-bottom: 0.25rem solid #00002f;

  h3 {
    color: #ffffff;
  }
}

.PostersBackground:active {
  background-color: #694baa;
  border-top: 0.25rem solid #00002f;
  border-left: 0.25rem solid #00002f;
  border-right: 0.25rem solid #9d9df5;
  border-bottom: 0.25rem solid #9d9df5;
}

.PaintingsBackground {
  background-color: #926ce2;
  border-top: 0.25rem solid #9d9df5;
  border-left: 0.25rem solid #9d9df5;
  border-right: 0.25rem solid #00002f;
  border-bottom: 0.25rem solid #00002f;

  h3 {
    color: #ffffff;
  }
}

.PaintingsBackground:active {
  background-color: #694baa;
  border-top: 0.25rem solid #00002f;
  border-left: 0.25rem solid #00002f;
  border-right: 0.25rem solid #9d9df5;
  border-bottom: 0.25rem solid #9d9df5;
}

.OtherWorksBackground {
  background-color: #926ce2;
  border-top: 0.25rem solid #9d9df5;
  border-left: 0.25rem solid #9d9df5;
  border-right: 0.25rem solid #00002f;
  border-bottom: 0.25rem solid #00002f;

  h3 {
    color: #ffffff;
  }
}

.OtherWorksBackground:active {
  background-color: #694baa;
  border-top: 0.25rem solid #00002f;
  border-left: 0.25rem solid #00002f;
  border-right: 0.25rem solid #9d9df5;
  border-bottom: 0.25rem solid #9d9df5;
}
