@import "../../styles/fonts.scss";

.container {
  background-color: #000000;

  border-top: 0.4rem solid #3f3f3f;
  border-left: 0.4rem solid #3f3f3f;
  border-right: 0.4rem solid #b1b1b1;
  border-bottom: 0.4rem solid #b1b1b1;

  max-height: calc(100vh - 12rem);
  padding: 1rem;
  overflow-y: scroll;

  // width: 50rem;

//   width: calc(100vw - 20rem);

  display: flex;
  flex-direction: row;

  @media #{$mq-small} {
    flex-direction: column;
  }

  @media #{$mq-mobile} {
    border-top: 0.25rem solid #3f3f3f;
    border-left: 0.25rem solid #3f3f3f;
    border-right: 0.25rem solid #b1b1b1;
    border-bottom: 0.25rem solid #b1b1b1;
  }

  .leftContainer {
    // flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 15rem;

    @media #{$mq-small} {
      flex: none;
      display: block;
      min-width: inherit;
    }

    .portrait {
      background-color: rgba(2, 83, 2, 0.7);
      margin-bottom: 0.5rem;
      margin-top: 0.5rem;
    }
  }

  .rightContainer {
    // flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    max-width: 35rem;

    @media #{$mq-small} {
      flex: none;
      display: block;
      margin-left: 0rem;
      max-width: inherit;
    }
  }

  .greenBox {
    background-color: rgba(2, 83, 2, 0.7);
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    padding: 1rem 1rem;
    
  }

  .skillContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 4rem;
    margin-right: 4rem;
  }

  h2,
  h1,
  p {
    line-height: 0.7rem;
    color: #2fff6a;
    padding-top: 0.4rem;
    padding-left: 0.4rem;
    padding-bottom: 0.4rem;
  }

  h2 {
    font-size: 1.6rem;
    line-height: 1.8rem;
  }

  p {
    line-height: 1.7rem;
    font-size: 1.5rem;
  }
}
