@import "../../styles/fonts.scss";

.container {
  // background: linear-gradient(-35deg, #086f6f 0%, #71d8d8 100%);
  //background:  linear-gradient(-35deg, #086f6f 0%, #71d8d8 100%);
  border-top: 0.5rem solid #000064;
  border-left: 0.5rem solid #000064;
  border-right: 0.5rem solid #b9a2ec;
  border-bottom: 0.5rem solid #b9a2ec;

  height: 45rem;
  padding: 1rem;
  overflow-y: scroll;

  background-image: url("../../public/backgrounds/gallery-background.png");
  background-size: 80rem;
  background-repeat: no-repeat;
  // display: flex;
  // flex-direction: row;

  .texture {
    //background-image: url("../../public/images/dither-texture.png");
    transform: scale(0.2);
    opacity: 0.5;
    z-index: 1;
    position: absolute;
  }

  .images {
    // object-fit: scale-down;
    // width: auto;
    // height: auto;
    margin: 1rem;
    z-index: 2;
  }

  .flexRow {
    height: 30rem;
    display: flex;
    flex-direction: row;
    //flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
  }

  .stalker {
    flex: 1.6;
  }

  .vertigo {
    flex: 1;
  }

  .radiation {
    flex: 1;
  }

  .williams {
    flex: 1.5;
  }

  .shining {
    flex: 0.8;
  }

  .burnVictim {
    flex: 0.8;
  }

  .blood {
    flex: 0.5;
  }

  .tortoise {
    flex: 1;
  }

  .baby {
    flex: 1;
  }

  .whiplash {
    flex: 1;
  }
}
